---
layout: default
---

<h1>
  <span class="header-text">
    <a href="/">{{ site.name }}</a> <span style="color: gray;"><a href="{{ page.url | replace:'.html','' }}">{{ page.subtitle }}</a></span>   
  </span>
  <span class="header-text" style="float: right;">
    <span style="font-size: 0.5em; color: gray; vertical-align: bottom;">&nbsp;&nbsp;&nbsp;<a href="./">home</a></span>
    <span style="font-size: 0.5em; color: gray; vertical-align: bottom;">&nbsp;&nbsp;&nbsp;<a href="./docs">docs</a></span>
    <span style="font-size: 0.5em; color: gray; vertical-align: bottom;">&nbsp;&nbsp;&nbsp;<a href="./api">api</a></span>
    <span style="font-size: 0.5em; color: gray; vertical-align: bottom;">&nbsp;&nbsp;&nbsp;<a href="./examples">ex</a></span>
    <span style="font-size: 0.5em; color: gray; vertical-align: bottom;">&nbsp;&nbsp;&nbsp;<a href="./theory">thy</a></span>
    <span style="font-size: 0.5em; color: gray; vertical-align: bottom;">&nbsp;&nbsp;&nbsp;<a href="./architecture">arch</a></span>
    <span style="font-size: 0.5em; color: gray; vertical-align: bottom;">&nbsp;&nbsp;&nbsp;<a href="https://github.com/hiun/self">repo</a></span>
  </span>
</h1>

{% if page.incomplete %}
  <table>
    <tbody>
      <tr>
        <td><strong>This article is partially or completely unfinished. You are welcome to <a href="https://github.com/hiun/self/tree/gh-pages/_includes/{{page.path | replace:'.html','.md'}}">create pull requests</a> to help completing this article.</strong></td>
      </tr>
    </tbody>
  </table>
{% endif %}

{{ content }}